/* .gridc{

    display: "grid";
    grid-template-columns: "1fr 1fr 1fr" ;
    gap: "10px";
  

}
.gridi{
  height: 100px;
  width: 100px;
  background-color: white;
} */

.gridc{
  display: flex;
 
  justify-content: center;
  align-items: center;
}

.gridi {
  margin: 10px;
  min-width:  200px; /* Minimum width for the items */
  min-height: 200px; /* Minimum height for the items */
  background-color: #eee;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .gridi:hover {
    transform: scale(1.10);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }