
.modal-overlayCUS {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalCUS {
    background: rgb(253, 241, 241);
    border: 1px solid #ccc;
    padding: 20px;
    max-width: auto;
    width: 53%;
    margin-left: 3%;
    /* text-align: center; */
    margin-top: 1%;
    position: relative;
    border-radius: 4px;
  color: rgb(16, 14, 14);
  }
  
  .modal-closeCUS {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: #555;
  }

.button-70 {
  background-image: linear-gradient(#0fafd7, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.input {
	
	position:relative;
	
	font-size: 1.5em;
	
	background: linear-gradient(21deg, #10abff, #1beabd);
	
	padding: 3px;
	
	display: inline-block;
	
	border-radius: 9999em;
	
	*:not(span) {
		position: relative;
		display: inherit;
		border-radius: inherit;
		margin: 0;
		border: none;
		outline: none;
		padding: 0 .325em;
		z-index: 1; 
		
		&:focus + span {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	span {
		
		transform: scale(.993, .94); 
    		transition: transform .5s, opacity .25s;
		opacity: 0; 
		
		position:absolute;
		z-index: 0; 
		margin:4px; 
		left:0;
		top:0;
		right:0;
		bottom:0;
		border-radius: inherit;
		pointer-events: none; 
    
		box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #1beabd, 
			-3px 3px 30px #10abff;
	}
	

}
.neontext {
	color: #1b8418;
	text-shadow:
		0 0 7px #fff,
		0 0 10px #fff,
		0 0 21px #fff,
		0 0 42px #0fa,
		0 0 82px #0fa,
		0 0 92px #0fa,
		0 0 102px #0fa,
		0 0 151px #0fa;
  }

/* html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height:1.5;
	font-size:1em;
}

body {
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
}

html, body {
	height:100%;
} */

input {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:16em;
}

::placeholder {
	color:#cbd0d5;
}

/* html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
} */