

#but3{
  align-content: center;
  
  height: 9rem;
  width: 9rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

} 
#but3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}





.dropdown-content{


 width: 300px; 
 border:5px solid white;
}


.bottom {
  z-index: 1;
  max-height: 30px; 


  margin-top: 93vh; 
  position: relative;
  top: 5vh; 
  left: 5vw;
}


.clicked {
  background-color: green;
  color: white; 
}

.page-container {  
  /* //select what you want to see */
  justify-content: center;
  align-items: center;
  height: 18rem;
  background-color: transparent;

}

.centered-items {
  display: flex;
 
  justify-content: center;
  align-items: center;
}




.item,
.item:after {
  width: 10rem;
  height: 50px;
  line-height: 18px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #59d2ea 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.item:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #0fdede 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.item:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}





.centered-tabs {
  width: 4px;
  height: 110px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border:2px solid white;



}

.centered-tabs{
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  /* font-size:  1vmax; */
  font-size: 20px;
  font-weight: 798;
  justify-content: center;
  line-height: 14px;
  margin: 2px;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}



.centered-tabs:before,
.centered-tabs:after {
  border-radius: 80px;
}

.centered-tabs:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 55%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.centered-tabs:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 55px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.centered-tabs:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.centered-tabs:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.centered-tabs:active:not(:disabled) {
  color: #ccc;
}

.centered-tabs:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.centered-tabs:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.centered-tabs:disabled {
  cursor: default;
  opacity: .24;
}

.tabsContainer{
  
    /* align-items: center; */
    display: flex;
    /* justify-content: center; */
    font-size: 30;
    /* height: 9rem; */
    overflow:auto  ;
  }


.details{
  text-Align: left;
   font-Weight: bold;
   margin-Top:10px; 
  font-Size:1.6rem; 
}
.page-container1 {
  display: block;
  justify-content: center;
  align-items: center;

    height:370px;
  width:650px;
  background-color: transparent;

}
.centered-content {

  margin-left: 0.8rem;
  /* margin-right: 1vmin; */
  justify-content: center;
  align-items: center;
  font-size: 0.6vmax;
  flex-direction: column;
  background-color: transparent;
}

.centered-contentpc {
 
  margin-left: 8rem;
  justify-content: center;
  align-items: center;
  font-size: 0.7vmax;

  flex-direction: column;
  background-color: transparent;
}



.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
    overflow-y: auto;
height: 40em;
width: 10em;
  margin-right: 20px;
}

.thumbnail-image {
  width: 8em;
  height: 8em;
  object-fit: cover;
  cursor: pointer;
  border: #000 solid thin;


}

.selected-image {
  width:  40em;
  height: 40em;
  padding: 10px solid black;
  border: 2px solid #000;
  margin-top: 20px;
}
.spec{ color:black ;
  margin-top: -520px;}
.hollow-tab {
  position: relative;
  
  align-items: center;
  padding: 200px 120px;
  margin-top: -14.5%;
  margin-left: 32vmax;
  z-index: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
}

.hollow-tab img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 20%;
  margin-right: 10px;
}

.hollow-tabpc {
  position: relative;
  cursor: pointer;
  align-items: center;
  padding: 250px 110px;
  margin-top: -18%;
  margin-left: 43vmax;
  z-index: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
}
.hollow-tabpc img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 20%;
  margin-right: 10px;
}
.options {
  display: none;
  position: absolute;
  top: -250px;
  /* left: 2vmin; */
  right: 1vmax;
  /* width: 61vw; */
  /* max-height: 800px; */
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:#D2D2D2;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 0;
  padding: 10px;
  
}


.options a {
  display: block;
  padding: 15px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.options a:hover {
  background-color: #000;
  color: white;
}

.options img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.hollow-tab .options {
  display: block;
  transition: display 0.3s;
}

.optionspc {
  display: none;
  position: absolute;
  top: -240px;
  left: 15vmin;
  right: 8vmax;
  /* width: 61vw; */
  /* max-height: 800px; */
  color:black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:#D2D2D2;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 0;
  padding: 10px;
}

.optionspc a {
  display: block;
  padding: 15px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.optionspc a:hover {
  background-color: #000;
  color: white;
}

.optionspc img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.hollow-tabpc .optionspc {
  display: block;
  transition: display 0.3s;
}

.app-container {
  display: flex;
  align-items: center;
  left: -30px;
}
/* .my-grid-containerlap {
  background-color: transparent;
 position: relative;
 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(680px, 1fr)); 
  grid-gap: 16px;
}
.my-grid-itemlap {
  background-color: transparent;
  padding: 10px ;
  font-size: 1rem;
  height: auto;
  width: auto;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  } */
/* @media (min-width: 1842px) {
  .item,
  .item:after{
    width: 10rem;
    height: 50px;
    font-size: 20px;
  }
  #but3{
    height: 8rem;
    width: 8rem;
  }
  .page-container{
   height: 18rem;
  }
  .options{
    top: -15.6rem;
    left: -32.5rem;
    width: 92.5;
    max-height: 800px;
  }

   .centered-content{
     margin-left:-1rem;
   }
 
   .hollow-tab{
     top: 1rem;
     left: 33rem;
     width: 30rem;
    
   }
   .hollow-tabpc{
    left:  33rem;
    width: 20rem;
   }
   .centered-contentpc{
    margin-left: -1rem;
   }
}
@media (max-width: 1842px) {
  .item,
  .item:after{
    width: 10rem;
    height: 50px;
    font-size: 20px;
  }
  #but3{
    height: 8rem;
    width: 8rem;
  }
  .page-container{
   height: 17rem;
  }
  .centered-content{
    margin-left:25rem;
  }
  .spec{
  margin-left: -30rem;
  }
  .hollow-tab{
    top: 42rem;
    left: -8rem;
   width: 60rem;
  }

 
}

@media (max-width: 1536px) {
  .item,
  .item:after{
    width: 10rem;
    height: 50px;
    font-size: 20px;
  }
  #but3{
    height: 8rem;
    width: 8rem;
  }
  .page-container{
   height: 17rem;
  }
  .centered-content{
    margin-left:17rem;
  }
  
  .tabsContainer{
    width: 88.9rem;
    overflow: auto;

  }
  .hollow-tab{
    top: 42rem;
    left: -15.3rem;
    width: 57rem;
  }
  .options{
    width: 90rem;
  }
}

@media (max-width: 1280px) {
  .item,
  .item:after{
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
  }
  #but3{
    height: 6.5rem;
    width: 6.5rem;
  }
  .page-container{
    height: 14rem;
   }
   .centered-content{
    margin-left:10rem;
  }
 
  .tabsContainer{
    width: 74rem;
    overflow: auto;

  }
  .hollow-tab{
    top: 42rem;
    left: -15.6rem;
    width: 40.5rem;
  }
  .options{
    width: 75rem;
  }

}

@media (max-width: 1024px) {
  .item,
  .item:after{
    width: 7rem;
    height: 2.2rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
  #but3{
    height: 4.8rem;
    width: 4.8rem;
  }
  .page-container{
    height: 12rem;
   }
   .centered-content{
    margin-left:1rem;
  
  }

  .tabsContainer{
    width: 58rem;
    overflow: auto;

  }
  .hollow-tab{
    top: 42rem;
    left: -15.6rem;
    width: 24.5rem;
  }
  .options{
    width: 59rem;
  }
  .details{
  
    font-Size:1.5rem; 
  }
}

@media (max-width: 768px) {
  .item,
  .item:after{
    width: 7rem;
    height: 2.2rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
  #but3{
    height: 4.8rem;
    width: 4.8rem;
  }
  .page-container{
    height: 10rem;
   }
   .centered-content{
    margin-left:0.2rem;
  
  }
  .selected-image{
    height: 33rem;
    width: 33rem;
    margin-left: -1rem;
  }
  .thumbnail-container{
    height: 33rem;
  }

  .tabsContainer{
    width: 43rem;
    overflow: auto;

  }
  .hollow-tab{
    top: 42rem;
    left: -14.8rem;
    width: 10rem;
  }
  .options{
    width: 43.8rem;
  }
  .details{
  
    font-Size:1.4rem; 
  }
  .spec{
    margin-left: -35rem;
  }
}

@media (max-width: 640px) {
  .item,
  .item:after{
    width: 5.6rem;
    height: 2rem;
    font-size: 0.6rem;
    font-weight: bold;
  }
  #but3{
    height: 3.8rem;
    width: 3.8rem;
  }
  .page-container{
    height: 10rem;
   }
   .centered-content{
    margin-left:-0.5rem;
  
  }
  .selected-image{
    height: 26rem;
    width: 26rem;
    margin-left: -2rem;
  }
  .thumbnail-container{
    height: 30rem;
  }

  .centered-tabs{
    font-size: 0.9rem;
  }
  .tabsContainer{
    width: 34rem;
    overflow: auto;

  }
  .hollow-tab{
    top: 42rem;
    left: -15.8rem;
    width: 10rem;
  }
  .options{
    width: 35rem;
  }
  .details{
  
    font-Size:1.1rem; 
  }
  .spec{
    margin-left: -42rem;
  }
  
}

@media (max-width: 475px) {
  .item,
  .item:after{
    width: 5.6rem;
    height: 2rem;
    font-size: 0.6rem;
    font-weight: bold;
  }
  #but3{
    height: 3.5rem;
    width: 3.5rem;
  }
  .page-container{
    height: 10rem;
   }
   .centered-content{
    margin-left:-2rem;
  
  }
  .selected-image{
    height: 15.5rem;
    width: 15.5rem;
    margin-left: -3.5rem;
    margin-top: -0.2rem;
  }
  .thumbnail-container{
    height: 16.5rem;
  }
  .thumbnail-image{
    height: 4rem;
    width: 4rem;
    border: #000 solid thin;
  }

  .centered-tabs{
    width: 6.5rem;
    height: 118px;
    font-size: 0.8rem;
    
  }
  .centered-tabs::before{
    height: 58%;
  }
  .centered-tabs{
    font-size: 0.6rem;
  }
  .tabsContainer{
    width: 22rem;
    overflow: auto;

  }
  .hollow-tab{
    top: 42rem;
    left: -15.8rem;
    width: 10rem;
  }
  .options{
    width: 23rem;
    margin-top: -2rem;
  }
  .details{
  
    font-Size:0.8rem; 
  }
  .spec{
    margin-left: -56rem;
    
  }
} */