/* Apply styles for different screen sizes using media queries */

/* For screens with a width between 769px and 124px (adjust as needed) */
/* @media (min-width: 769px) and (max-width: 1024px) {

  .item {
    height: 200px;
  }

  .thumbnail-container {
    margin-right: 0;
  }

  .thumbnail-image {
    width: 100px;
    height: 100px;
  }

  .selected-image {
    max-width: 300px;
    max-height: 300px;
  }

  .hollow-tab {
    padding: 10px 50px;
    margin-top: 50px;
    margin-left: 0;
  }

  .options {
    left: 0;
    width: 100%;
    max-height: none;
    overflow-y: initial;
  }

  .options a {
    padding: 10px;
  }

  .optionspc {
    left: 0;
    width: 100%;
    max-height: none;
    overflow-y: initial;
  }

  .optionspc a {
    padding: 10px;
  }
} */

/* For screens with a width of 768px or less (adjust as needed) */
/* @media (max-width: 768px) {



  .item {
    height: auto;
  }

  .thumbnail-container {
    margin-right: 0;
  }

  .thumbnail-image {
    width: 100px;
    height: 100px;
  }

  .selected-image {
    max-width: 300px;
    max-height: 300px;
  }

  .hollow-tab {
    padding: 10px 50px;
    margin-top: 50px;
    margin-left: 0;
  }

  .options {
    left: 0;
    width: 100%;
    max-height: none;
    overflow-y: initial;
  }

  .options a {
    padding: 10px;
  }

  .optionspc {
    left: 0;
    width: 100%;
    max-height: none;
    overflow-y: initial;
  }

  .optionspc a {
    padding: 10px;
  }
} */

/* Your existing CSS styles here */

/* Position the dropdown */
/* .dropdown-container {
  position: relative;
  display: inline-block;
} */

/* .dashboard,.centered-content{ */
  /* position: absolute;  */
  /* width: auto;
  height: auto; */
  /* background-color: lightblue; */
/* }  */


#but3{
  align-content: center;
  height: 120px;
  width: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

} 

.dropdown-content{
  /* width:50% ; */
  /* height: 80%; */
  /* background-color: #1b412f; */ /* display:flex */

 width: 300px; 
 border:5px solid white;
}

#but3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.bottom {
  z-index: 1;
  max-height: 30px; 
  /* Fixed height */


  margin-top: 93vh; /* 10% of the viewport height */
  position: relative;
  top: 5vh; /* 5% of the viewport height */
  left: 5vw; /* 5% of the viewport width */
}


.clicked {
  background-color: green; /* Change the background color when clicked */
  color: white; /* Change the text color when clicked */
}

.page-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 26vh;
  background-color: transparent;

}

.centered-items {
  display: flex;
 
  justify-content: center;
  align-items: center;
}



.item {
  margin: 10px;
  min-width: 100px; /* Minimum width for the items */
  min-height: 100px; /* Minimum height for the items */
  background-color: #eee;
  
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item:hover {
  transform: scale(1.10);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.centered-tabs {
  /* margin-top:10px ; */
  width: 400px;
  height: 50px;
  border:2px solid white;

  /* align-items: center;
display: flex;
  justify-content: center; */

}
.page-container1 {
  display: block;
  justify-content: center;
  align-items: center;

    height:370px;
  width:650px;
  /* z-index: -1; */
  background-color: transparent;

}
.centered-content {
  /* display: flex; */
  /* position: relative; */
  /* height:200px;
  width: 200px; */
  margin-left: 100px;
  /* margin-right: 500px; */
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  background-color: transparent;
  /* margin: 1px; Adjust the margin as needed */
}

.centered-contentpc {
  /* display: flex; */
  /* position: relative; */
  /* height:200px;
  width: 200px; */
  margin-left: -200px;
  /* margin-right: 500px; */
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  background-color: transparent;
  /* margin: 1px; Adjust the margin as needed */
}

.Tabs{
}

/* .my-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
} */

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.thumbnail-image {
  width: 110px;
  height: 100px;
  object-fit: cover;
  cursor: pointer;
}

.selected-image {
  max-width:  600px;
  max-height: 600px;
  border: 2px solid #000;
  margin-top: 20px;
}

.hollow-tab {
  position: relative;
  /* cursor: pointer; */
  /* display: flex; */
  align-items: center;
  padding: 200px 110px;
  margin-top: -400px;
  margin-left: 770px;
  z-index: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
}

.hollow-tab img {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #000;
  border-radius: 20%;
  margin-right: 10px;
}

.hollow-tabpc {
  position: relative;
  cursor: pointer;
  /* display: flex; */
  align-items: center;
  padding: 250px 110px;
  margin-top: -400px;
  margin-left: 770px;
  z-index: 0;
  background-color: transparent;
  border-bottom: 2px solid #000;
}

.options {
  display: none;
  position: absolute;
  top: -200px;
  left: 210px;
  width: 800px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 0;
  padding: 10px;
}

.options a {
  display: block;
  padding: 15px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.options a:hover {
  background-color: #000;
  color: white;
}

.options img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.hollow-tab .options {
  display: block;
  transition: display 0.3s;
}

.optionspc {
  display: none;
  position: absolute;
  top: -80px;
  left: -160px;
  width: 800px;
  max-height: 400px;
  overflow-y: auto;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  z-index: 0;
  padding: 10px;
}

.optionspc a {
  display: block;
  padding: 15px;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-size: 16px;
}

.optionspc a:hover {
  background-color: #000;
  color: white;
}

.optionspc img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.hollow-tabpc .optionspc {
  display: block;
  transition: display 0.3s;
}

.app-container {
  display: flex;
  align-items: center;
 /* height: 300px; */
  left: -10px;
}